In [ ]:
person = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}

#Person is a dictionary, name is a key


person["name"] #Alice
person.get("name") #Alice



print(person["age"])
print(person["is_student"])

print(person.get("name"))  
print(person.get("age"))  
print(person.get("is_student"))

Alice
30
False
Alice
30
False

In [ ]:
print(person.get("address"))  
print(person.get("address", "1 ABC Street")) 

# person["address"]

None
1 ABC Street

KeyError: 'address'

In [9]:
person["age"] = 31
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [10]:
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [11]:
del person["is_student"]

In [12]:
person

{'name': 'Alice', 'age': 31}

In [15]:
person_1 = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}

person_2 = {
	"name": "Jim",
	"age": 20,
	"is_student": True
}

classroom = [person_1, person_2]
classroom

# Give me ages for all persons in the classroom
ages = [person["age"] for person in classroom]
print(ages)

for person in classroom:
    print(person["age"])

[30, 20]
30
20

## Exception Handling

In [33]:
try:
    del person["is_student"]
except Exception as e:
    print(f"Error in removing key: {e}")

In [34]:
try:
    a = 10
    b = 0
    print (a/b)
except Exception as e:
    print(f"Error: {e}")

Error: division by zero

In [35]:
print(person)
print(person.pop("age"))
print(person)

{'name': 'Alice', 'age': 31}
31
{'name': 'Alice'}